/* RESET  */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 3rem auto;
    border: 1px solid black;
}

.section{
    margin: 1.3rem;
    text-align: center;
}

.section input{
    border:1px solid green;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.section button{
    border: 1px solid black;
    padding: .5rem 1rem;
    font-size: 1.2rem;



}

ul li{
    padding: 1.2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;  
}

.sbarra{
    text-decoration: line-through;
}

.redi{
    color : red;
    font-size: 1.2rem;
}

